/*copied straight up from the image on clarifai's page of this api. inspect element.*/
.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}